.parent {
  padding: 0 20px; 
}

.c1 {
  display: flex;
  justify-content: center;
  margin-bottom: 20px; 
}

.c2 {
  display: flex;
  flex-direction: column; 
}


.c4 img {
  width: 100%; 
  height: auto; 
}

.c4 p {
  margin-left: 0; 
}

.line {
  width: 100%;
  height: 2px;
  background-color: black;
  margin: 20px 0; 
}

.c5 p {
  margin-left: 0;
  align-items: center; 
}


@media only screen and (min-width: 400px) {
  
  .c2 {
    flex-direction: row; 
  }
  
  .c4 img,
  .c4 p {
    margin-left: 1rem; 
  }

  .c5 p {
    margin-left: 1rem;
  }
  .c2 img
  .c3 img {
    width: 100%; 
    height: auto; 
  }
}

